/* 全局的一些类 */

/* 定义一个清除浮动的类 */
.clearfix:after{
    content:'';
    display:block;
    clear: both;
}
.active{
    border-bottom: 4px solid #fff;
}
h1{
    padding: 12px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
}
h2{
    font-size: 30px;
}
h3{
    font-size: 24px;
}

.hr{
    width: 100%;
    height: 2px;
    margin: 20px auto;
}
p{
    font-size: 18px;
    letter-spacing: 1px;
}
ul{
    margin: 0;
}
header{
    background: rgba(0, 0, 0, 0.2);
}

/*  */
nav{
    background: transparent;
    height: 50px;
}
#banner{
    background: transparent;
    height: 700px;
}
nav ul{
    list-style: none;
    margin: 0;
    float: right;
}
nav ul li,
nav .logo{
    display: inline-block;
    line-height: 50px;
    margin-right: 20px;
}
nav .logo a{
    text-decoration: none;
    margin-left: 10px;
}
nav ul li a{
    line-height: 50px;
    color: #fff;
    /* 去下划线 */
    text-decoration: none;

    /* 可以更改高度 */
    display: inline-block;

    /* 继承他的父元素属性 */
    height: inherit;
}
/* lih后面不加空格 */
nav ul li.logo{
    float: left;
    padding:10px;
}
#banner .inner{
    max-width: 300px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    top: 150px;
}

#banner .inner h1{
    margin: 0;
    color: #fff;
}
/* 按钮样式 */
button{
    border: none;
    background: rgb(25, 9, 112);
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border-radius: 5px;
}
/* banner中的按钮样式 */
#banner button{
    padding: 14px 60px;
}

#banner .inner .more{
    margin-top: 280px;
}

.sub-heading{
    line-height: 30px;
    margin: 30px 0;
    color: #fff;
}

.logo{
    font-size: 20px;
    font-weight: 700;

    /* 字体间的距离 */
    letter-spacing: 1px;
}
.logo a{
    color: #fff;
}

.sub-heading{
    font-size: 18px;
}
.green-section{
    background: #089db0;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}
.green-section .hr{
    background: #078494;
    width: 60%;
}
.green-section .icon-group .icon{
    display: inline-block;
    width: 80px;
    height: 80px;
    background: #0d6f7c;
    /* 
        旋转 transform:rotate
        40deg --> 40°
    */
    transform: rotate(45deg);
    margin: 20px;
}
.icon-group{
    margin-top:50px;
}
.wrapper{
    max-width: 1080px;
    margin: 0 auto;
}

/* 正文  gray部分 */
.gray-section .img-section{
    width: 45%;
}
.img-section img{
    width: 100%;
}
.gray-section .text-section{
    width:55%;
}
.article-preview{
    background: #333;
    color: #fff;
}
.article-preview > div{
    float: left;

    /*
        去除两个article-preview
        之间的一个缝隙
        原因：字体大小导致的。 
     */
    font-size: 0;
}

/* 
  因为上面浮动 
  所以这里使用 伪类after清除浮动
  可以将这里定义为一个新的类专门用来清除浮动
 */
.article-preview:after{
    content:'';
    display:block;
    clear: both;
}
.text-section{
    position: relative;
    top: 65px;
    left: 50px;
}
.text-section h2{
    margin-bottom: 20px;

    /* 
    因为上面设置了fontsize为0 
    所以这里需要覆盖
    */
    font-size: 24px;   
}
.text-section .sub-heading{
    font-size: 22px;
    margin-top: 0;
}
.text-section p{
    font-size: 18px;
    letter-spacing: 1px;
}
.text-section > *{
    max-width: 90%;
}

/* 奇偶选择器 */
.article-preview:nth-child(odd){
    background-color: rgba(0, 0, 0, 0.5);
}

.pruple-section{
    padding: 80px;
    background: #3f3965;
    color: #fff;
}
.pruple-section .heading-wrapper{
    text-align: center;
}
.pruple-section .hr{
    border:1px solid #373259;
    width:60%;
}
.card{
    float:left;
    width: 50%;
    min-height: 300px;
    padding: 50px;
    /* css3 */
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /* border: 1px solid #fff; */
}

/*  */
.card:first-child{
    background: rgba(0, 0, 0, 0.04);
}
.card:nth-child(2){
    background: rgba(0, 0, 0,0.08);
}
.card:nth-child(3){
    background: rgba(0, 0, 0, 0.12)
}
.card:nth-child(4){
    background: rgba(0, 0, 0, 0.16)
}

/* 页脚 */
footer{
    background: #333;
    color: #fff;
    min-height: 200px;
    text-align: center;
}
ul.share-group{
    display: block;
    width: 1080px;
    margin: 0 auto;
    padding: 50px;
}
.share-group li{
    display: inline-block;
    padding: 10px;
}
.copy{
    padding-bottom: 20px;
}

/* 给body中最大的容器添加背景图片 */
.main-wrapper{
    background: #444 url(../img/banner.jpg);
    /* 固定，不让图片移动 */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.mask{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3)
}
/* side-bar */
#side-bar{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    /* css方式 侧栏位置 -300 */
    /* right: -300px; */

    /* css3 的方式 */
    -webkit-transform: translate(300px,0);
    -moz-transform: translate(300px,0);
    -ms-transform: translate(300px,0);
    -o-transform: translate(300px,0);
    transform: translate(300px,0);

    width: 300px;
    background: #333;
    color: #fff;
    padding: 20px 0;

    /* css3属性 */
    transition: all 0.5s;
}
#side-bar ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

#side-bar ul a{
    color: #fff;
    padding: 10px 50px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
}
#side-bar ul a:hover{
    background: #444;
}

/* 返回顶部 */
.back-to-top{
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    border: 1px solid #888;
}